<div class="current-ads-grid">

  <div class="ads-pics">
      <div id="bigPic" class="bigPic"></div>
      <img id="smallPic1" (click)="changePic(1)" src="https://www.w3schools.com/w3css/img_nature_wide.jpg" width="150px">
      <img id="smallPic2" (click)="changePic(2)" src="https://www.w3schools.com/w3css/img_snow_wide.jpg" width="150px">
      <img id="smallPic3" (click)="changePic(3)" src="https://www.w3schools.com/w3css/img_mountains_wide.jpg" width="150px">
  </div>

  <div class="ads-details">
    <p class="ads-tile">This is the title</p>
    <p class="ads-owner">Teszt Elek <span class="owner-rating">user rating</span></p>
    <p class="ads-short-decription">Here is the short desecription of the ads</p>
    <p class="ads-price">$1234567890</p>
    <button>BUY IT NOW!</button>
    <button>Ask from the seller</button>
  </div>

</div>

<div class="ads-long-decription">Here is the loooooong description of the aaaaaaaaads</div>