.current-ads-grid {
    display: grid;
    padding: 10px;
	grid-gap: 20px;
    grid-template-columns: 500px auto;
}

.ads-pics {
    background-color: lightgrey;
    border: 1px solid grey;
    height: auto;
    text-align: center;
}
.bigPic {
    width: 500px;
    height: 350px;
    object-fit: cover;
    vertical-align: middle;
}

.smallPic {
    width: 100px;
    height: 70px;
    margin: 10px;
    object-fit: cover;
    vertical-align: middle;
    border: 1px dashed grey;
}

.details {
    height: auto;
}
.ads-details {
    padding: 10px;
    background-color: lightgrey;
    border: 1px solid grey;
}
.ads-tile {
    margin: 0px;
    font-size: 1.35em;
    font-weight: bold;
}
.ads-short-decription {}
.ads-price {
    font-size: 1.2em;
    font-weight: bold;
}
.ads-guarantee {}
.seller-details {
    margin-top: 10px;
    padding: 10px;
    background-color: lightgrey;
    border: 1px solid grey;
}
.seller-details a:link, 
.seller-details a:active, 
.seller-details a:visited {
	color: grey;
}
.seller-details a:hover {
	color: green;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.seller-tile {
    margin: 0px;
    font-size: 1.2em;
    font-weight: bold;
}
.seller {
}
.seller-rating {
    
}
.fa-star {
	color: #ffbf00;
	font-weight: bold;
}

.ads-long-decription {
    margin: 0px 10px 10px 10px;
    background-color: lightgrey;
    border: 1px solid grey;
    height: 300px;
}