
#timer {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: green;
  letter-spacing: -1px;
}


#endMessage {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color:red;
  letter-spacing: -1px;

}

.btn {
  height: auto;
}

input[type=number] {
  display: inline-block;
  padding: 0px 10px;
  width: auto;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.bid-error {
  color: red;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.bid-owner {
  color:green;
  font-family: Arial, sans-serif;
  font-size: 18px;


}
