

<div class="biddig-mode" *ngIf='workFull.bid'>
  <div *ngIf="endMessage === ' '" class="bid-money">
      Minimum bid step is {{workFull.min_bidder_user_rate}} {{workFull.currency.currency}}.

      <input [(ngModel)]="bidMoney" type="number" value="Bid here" max="bidMoney">
      <div class="bid-error" *ngIf="bidError">Wrong bidding value!</div>
  </div>
  </div>

  <div id="timer">
      <div id="endMessage" *ngIf='endMessage'>{{endMessage}}</div>
      <span *ngIf="days !== undefined" [ngStyle]="{'color': days >= '1' ? 'green' : 'red'}">
        {{days}} days {{hours}} hours {{minutes}} minutes {{seconds}} seconds remaining
      </span>

  </div>
<div *ngIf='workFull.bid'>
  <button *ngIf="endMessage === ' '" (click)="onBidClick()">Bid now!</button>
</div>

<div class="buy-mode" *ngIf="workFull.bid === false && endMessage === ' '">
  <button (click)="onBuyClick()">Buy now!</button>

</div>


