<div style="padding: 20px;">

  <div class="featured-work">
    <div class="featured-work-pic"><a routerLink="/adsview"><img src="{{imglink}}"></a></div>
    <div class="featured-work-details">
      <div class="featured-work-owner"><a href="#USER-DETAILS"><img src="{{profileImage}}"> {{work.userName}}</a></div>
      <div class="featured-work-text"><a href="#WORK-DETAILS">{{work.description}}</a></div>
      <div class="featured-work-rate">
        <span class="fa fa-star"> {{work.userRating}}</span>
        <span class="featured-work-total-rates"><a href="#RATE-DETAILS"> ({{work.numberOfRatings}})</a></span>
        <div class="featured-work-price">${{work.price}}</div>
      </div>
    </div>
  </div>

</div>