<div class="frame">

	<div class="message-history">
		<div class="message-history-title">Message history</div>
    <hr>
		<div *ngFor="let message of messages" [class.message-out]="message.senderId != destinationId" [class.message-in]="message.senderId == destinationId">
      <div [class.message-sender-out]="message.senderId != destinationId" [class.message-sender-in]="message.senderId == destinationId">{{message.senderId}}<div class="message-date">{{message.date | date:'yyyy.MM.dd - HH:mm:ss'}}</div></div>
      <div [class.message-text-out]="message.senderId != destinationId" [class.message-text-in]="message.senderId == destinationId"><div [class.message-text-arrow-out]="message.senderId != destinationId" [class.message-text-arrow-in]="message.senderId == destinationId"></div>{{message.message}}</div>
      <div class="clear-both"></div>
    </div>
  </div>
	<div style="clear:both"></div>

  <div class="send-new-message">
    <div [(ngModel)]="destinationId"><span class="send-to">Send to:</span>{{destinationId}}</div>
    <textarea [(ngModel)]="chatText"></textarea>
    <p align="center"><button (click)="sendNewMessage()">SEND</button></p>
  </div>

</div>


<!--
<div class="frame">
  <div class="messageView">
      <div *ngFor="let message of messages">
        <p>{{message.senderId}}</p>
        <p>{{message.message}}</p>
        <p>{{message.date}}</p>
      </div>
  </div>
  <div class="messageFeed">
    <input type="text" [(ngModel)]="destinationId" placeholder="partner id">
    <input type="text" [(ngModel)]="chatText" placeholder="type here" (keydown)="keyDown($event)">
  </div>
</div>
-->