<header>
    <a routerLink="/main">
        <div class="logo">
            <div class="logo-pic"></div>
            <div class="logo-title">SzakiCool</div>
        </div>
    </a>
	<div class="navigation">
        <div *ngIf="!loggedin()" class="menu-options">
            <ul>
                <li><a routerLink="/login" (click)="loginClicked()"><i class="fa fa-sign-in fa-lg"></i><span class="nav-title"> Login</span></a></li>
                <li><a routerLink="/register"><i class="fa fa-user-plus fa-lg"></i><span class="nav-title"> Register</span></a></li>
            </ul>
        </div>
        <div *ngIf="loggedin()" class="menu-options">
            <ul>
                <li><a routerLink="/adslist">Advertisements</a></li>
                <li><a routerLink="/adsedit">Advertise</a></li>
                <li><a routerLink="/messages">Messages {{unreadmessages}}</a></li>
            </ul>
        </div>
        <div *ngIf="loggedin()" class="user-pic">
            <img src="https://www.w3schools.com/howto/img_avatar.png">
            <div class="dropdown animated fadeIn">
                <div class="dropdown-user-pic-frame"></div>
                <div class="dropdown-arrow"></div>			
                <ul>
                    <a routerLink="/profile/{{id}}"><li><i class="fa fa-user-circle-o fa-1x center-icon"></i><span class="nav-title"> Profile</span></li></a>
                    <a href="#"><li><i class="fa fa-dashboard fa-1x center-icon"></i><span class="nav-title"> My Dashboard</span></li></a>
                    <a href="#"><li><i class="fa fa-vcard fa-1x center-icon"></i><span class="nav-title"> Account Settings</span></li></a>
                    <a routerLink="/logout"><li><i class="fa fa-sign-out fa-1x center-icon"></i><span class="nav-title"> Logout</span></li></a>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="header-gap"></div>

<div class="search" *ngIf="!loggedin()">
	<div class="search-bar">
		<input [(ngModel)]="str" type="text" placeholder="What service are you looking for?"><button (click)="search()">Search</button>
	</div>
</div>
<div class="frame" *ngIf="!loggedin()">
    <div>
        <h1>New on the Marketplace</h1>
        <div class="marketplace-grid">
            <app-adspreview [work]="work" *ngFor="let work of works.slice(0,4)">
            </app-adspreview>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

<footer class="frame">
    <div class="footer-grid">
        <div class="footer-grid-title">Categories</div>
        <div class="footer-grid-title">About</div>
        <div class="footer-grid-title">Contact</div>
        <div class="footer-grid-items">» Art<br>» Butcher<br>» Car Mechanic<br>» Electrician<br>» Farmer</div>
        <div class="footer-grid-items">» Info<br>» Site rules<br>» Privacy policy</div>
        <div class="footer-grid-items">» szakicool@gmail.com<br>» +36 30 1234567</div>
    </div>
    <hr>
	<i class="fa fa-google-plus fa-lg"></i>
	<i class="fa fa-facebook-square fa-lg"></i>
	<i class="fa fa-twitter fa-lg"></i>
	<i class="fa fa-linkedin fa-lg"></i>
</footer>