<header>
    <div class="logo">
        <div class="logo-pic"></div>
        <div class="logo-title">SzakiCool</div>
    </div>
	<div class="navigation">
        <div *ngIf="loggedin()" class="menu-options">
            <ul>
                <li><a routerLink="/login" (click)="loginClicked()"><i class="fa fa-sign-in fa-lg"></i><span class="nav-title"> Login</span></a></li>
                <li><a routerLink="/register"><i class="fa fa-user-plus fa-lg"></i><span class="nav-title"> Register</span></a></li>
            </ul>
        </div>
        <div *ngIf="!loggedin()" class="menu-options">
            <ul>
                <li><a href="#">Nav-1</a></li>
                <li><a href="#">Nav-2</a></li>
                <li><a href="#">Nav-3</a></li>
                <li><a href="#">Messages</a></li>
            </ul>
        </div>
        <div *ngIf="!loggedin()" class="user-pic">
            <img src="https://www.w3schools.com/howto/img_avatar.png">
            <div class="user-menu">
                <div class="user-menu-arrow"></div>			
                <ul>
                    <li><a routerLink="/profile"><i class="fa user-cicle-o fa-lg"></i><span class="nav-title"> Profile</span></a></li>
                    <li><a href="#">My Dashboard</a></li>
                    <li><a href="#">Account Settings</a></li>
                    <li><a routerLink="/logout"><i class="fa fa-sign-out fa-lg"></i><span class="nav-title"> Logout</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="frame">
    <router-outlet></router-outlet>
    <div class="info-1"></div>
    <h1>New on the Marketplace</h1>
    <div class="marketplace-grid">
        <div class="marketplace-grid-item">
            <i class="fa fa-picture-o fa-3x"></i>
            <div class="item-pic">Picture</div>
            <div class="item-title">Desc</div>
        </div>
        <div class="marketplace-grid-item">
            <i class="fa fa-picture-o fa-3x"></i>
            <div class="item-pic">Picture</div>
            <div class="item-title">Desc</div>
        </div>
        <div class="marketplace-grid-item">
            <i class="fa fa-picture-o fa-3x"></i>
            <div class="item-pic">Picture</div>
            <div class="item-title">Desc</div>
        </div>
        <div class="marketplace-grid-item">
            <i class="fa fa-picture-o fa-3x"></i>
            <div class="item-pic">Picture</div>
            <div class="item-title">Desc</div>
        </div>
        <div class="marketplace-grid-item">
            <i class="fa fa-picture-o fa-3x"></i>
            <div class="item-pic">Picture</div>
            <div class="item-title">Desc</div>
        </div>
        <div class="marketplace-grid-item">
            <i class="fa fa-picture-o fa-3x"></i>
            <div class="item-pic">Picture</div>
            <div class="item-title">Desc</div>
        </div>
        <div class="marketplace-grid-item">
            <i class="fa fa-picture-o fa-3x"></i>
            <div class="item-pic">Picture</div>
            <div class="item-title">Desc</div>
        </div>
        <div class="marketplace-grid-item">
            <i class="fa fa-picture-o fa-3x"></i>
            <div class="item-pic">Picture</div>
            <div class="item-title">Desc</div>
        </div>
    </div>
    <div class="info-2"></div>
</div>


<footer>
    <div class="footer-grid">
        <div class="footer-grid-title">Categories</div>
        <div class="footer-grid-title">About</div>
        <div class="footer-grid-title">Support</div>
        <div class="footer-grid-items">» 5<br>» 5<br>» 5<br>» 5<br>» 5</div>
        <div class="footer-grid-items">» 6<br>» 6<br>» 6</div>
        <div class="footer-grid-items">» 7<br>» 7<br>» 7<br>» 7</div>
    </div>
    <hr>
    <i class="fa fa-google-plus fa-lg"></i>
    <i class="fa fa-facebook-square fa-lg"></i>
    <i class="fa fa-twitter fa-lg"></i>
    <i class="fa fa-linkedin fa-lg"></i>
</footer>