/* ********** SEARCH BAR ********** */
.search {
	height: 400px;
	background-image: url("../assets/site_template/search_bar_1.jpg");
	background-size: 100% auto;
	background-position: center center;
}
.search-bar {
	margin: 0 auto;
	padding-top: 300px;
	width: 400px;
}
input[type=text], input[type=email], input[type=password] {
    display: inline-block;
    padding: 0px 20px;
	width: 300px;
	height: 40px;
    border: 1px solid #ccc;
    border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
    box-sizing: border-box;
}
button {
	margin: 0px;
	padding: 0px;
	width: 100px;
    background-color: #4CAF50;
    color: white;
	font-size: 1.0em;
	line-height: 40px;
	text-align: center;
    text-decoration: none;
	height: 40px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
/* ********** NEW ON MARKETPLACE GRID ********** */
.marketplace-grid {
	display: grid;
	padding: 5px;
	grid-gap: 20px;
	grid-template-columns: auto auto auto auto;
}

.msgalert {
	color: red;
}
/* ********** ********** ********** */
.footer-grid-items p {
	margin: 0px;
}