.current-ads-grid {
    display: grid;
    padding: 10px;
    grid-gap: 20px;
    grid-template-columns: 500px auto;
}

.ads-pics {
    padding: 10px;
    background-color: lightgrey;
    border: 1px solid grey;
    height: auto;
}

.details {
    height: auto;
    position: relative;
}
.ads-details {
    padding: 10px;
    background-color: lightgrey;
    border: 1px solid grey;
}
.ads-titlee {
    margin: 0px;
    font-size: 1.35em;
    font-weight: bold;
}

.ads-short-decription {
    position: relative;
}
.ads-price {
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
}
.ads-guarantee {}
.seller-details {
    margin-top: 10px;
    padding: 10px;
    background-color: lightgrey;
    border: 1px solid grey;
}

.seller-tile {
    margin: 0px;
    font-size: 1.2em;
    font-weight: bold;
}

.ads-long-decription {
    margin: 0px 10px 10px 10px;
    padding: 10px;
    background-color: lightgrey;
    border: 1px solid grey;
    height: auto;
}
input[type=text], input[type=email], input[type=password] {
    padding: 0px 10px;
    height: 30px;
    width: auto;
}
input[type=number] {
    display: inline-block;
    padding: 0px 10px;
	width: auto;
	height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}
select {
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

.error {
    color: red;
    font-size: 14px;
    font-style: normal; 
    font-style: italic; 
    font-weight: normal;
}

.desc-error {
    position: absolute;
    top: 25px;
    right: 10px;
}

.price-error {
    position: absolute;
    top  : 2.5em;
}

.description-error {
    bottom: -1.5em;
    position: absolute;
}

.title-error {
    position: absolute;
    top  : 3.5em;
    font-size: 1em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }