<div class="frame">

  <div class="current-ads-grid">

    <div class="ads-pics">
        Picture 2: <input type="file"><br>
        Picture 2: <input type="file"><br>
        Picture 3: <input type="file"><br>
        Picture 4: <input type="file"><br>
        Picture 5:  <input type="file"><br>
        <br>
        <input type="button" value="Upload" (click)="uploadPic()">
    </div>

    <div class="details">
      <div class="ads-details">
        <p class="ads-tile">
          Title: 
          <input [(ngModel)]="workDetails.workTitle" type="text" value="{{workDetails.workTitle}}">
        </p>
        <p class="ads-short-decription">
          Description: 
          <textarea [(ngModel)]="workDetails.workDescription">{{workDetails.workDescription}}</textarea>
        </p>
        <p class="ads-price">
          Price: 
          <select>
            <option value="USD">USD</option>
          </select>
          {{work.currency.currency}} 
          <input [(ngModel)]="work.price" type="text" value="{{work.price}}">
        </p>
        <p class="ads-guarantee">
          Seller Guarantees: 
          <input [(ngModel)]="work.guarantee_value" type="text" value="{{work.guarantee_value}}"> 
          <select>
            <option value="Year">Year</option>
          </select>
          {{work.guarantee_length.guarantee_length}}
        </p>
      </div>
    </div>

  </div>

  <div class="ads-long-decription">
    Description: 
    <textarea [(ngModel)]="workDetails.workDescription">{{workDetails.workDescription}}</textarea>
  </div>

  <p align="center"><button (click)="saveChanges()">SAVE</button></p>  

</div>
