<div class="frame">

  <div class="messages-table-header">
    <div class="messages-table-icon">&nbsp;</div>
    <div class="messages-table-from center">From</div>
    <div class="messages-table-message center">Message</div>
    <div class="messages-table-date center">Date</div>
  </div>
  
  <a *ngFor="let message of messages" (click)=navigate(message)>
    <div class="messages-table-record">
      <div class="messages-table-icon"><i class="fa fa-envelope fa-1x"></i></div>
      <div class="messages-table-from">{{message.senderId}}</div>
      <div class="messages-table-message">{{message.message}}</div>
      <div class="messages-table-date">{{message.date | date:'yyyy.MM.dd HH:mm:ss'}}</div>
    </div>
  </a>

</div>