<div class="profile">
    <h1>Profile</h1>
    <div class="profilepics">
        <img  src="api/pics/{{profile.picture}}"/>
    </div>
    <div class="profileData" >
        <div class="profileAttribute">
            Firstname:<br>
            Lastname:<br>
            Phone:<br>
            Address:
        </div>
        <div *ngIf="!edit" class="profileValue" >
            {{profile.firstName}}<br>
            {{profile.lastName}}<br>
            {{profile.phone}}<br>
            {{profile.address}}
        </div>
        <div *ngIf="edit" class="profileEdit">
            <input [(ngModel)]="profile.firstName" type="text" placeholder="{{profile.firstName}}">
            <input [(ngModel)]="profile.lastName" type="text" placeholder="{{profile.lastName}}">
            <input [(ngModel)]="profile.phone" type="text" placeholder="{{profile.phone}}">
            <input [(ngModel)]="profile.address" type="text" placeholder="{{profile.address}}">
            <input type="button" value="save" (click)="saveChanges()">
        </div>
        <div class="editButton" (click)="showEdit()">
            <span class="fa fa-edit">Edit</span>
        </div>
    </div>
    <div class="uploadPic">
        <input type="file" (change)="onFileSelected($event)">
        <input type="button" value="upload" (click)="uploadPic()">
    </div>
</div>
