.profile {
    position: relative;
    padding-bottom: 25%;
    background-color: powderblue;
    border : solid 1px;
}

.profilepics {
    height: 12em;
    width: 12em;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 5em;
}

img {
    display: block;
    width: 100%;
}

.profileData {
    padding-left: 14em;
    padding-top: 0em;
    position: absolute;
    top: 5em;
}

.profileAttribute {
    padding-left: 0em;
    padding-top: 0em;
    position: absolute;
    top: 5em;
    
}

p {
    color: red;
}

.profileValue {
    padding-left: 6em;
    padding-top: 0em;
    position: absolute;
    top: 5em;
}

.profileEdit {
    padding-left: 6em;
    padding-top: 0em;
    position: absolute;
    top: 5em;
}

.editButton {
    padding-left: 0;
    padding-top: 0em;
    position: absolute;
    top: 0em;
}

.editButton :hover {
    background-color: aliceblue;
}

.uploadPic {
    padding-left: 0em;
    padding-top: 0em;
    position: absolute;
    top: 12em;
    left: 1em;
}

input[type=text], input[type=email], input[type=password] {
    width: 150px;
    padding: 6px 10px;
    display: inline-block;
    border: 1px solid blue;
    border-radius: 4px;
    box-sizing: border-box;
}