.dark-filter {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1001;
}

body {
	margin: 0px;
    padding: 0px;
    background-image: url("assets/site_template/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
    font-size: 1.3em;
    font-weight: bold;
}

hr {
    border: 0;
    height: 1px;
    background: #bbb;
    background-image: linear-gradient(to right, #ddd, #bbb, #ddd);
}

a:active, a:visited, a:link, a:hover {
    text-decoration: none;
    font-weight: bold;
    color: gray;
    text-decoration: none;
}

.error-message {
    background-image: linear-gradient(to right, white, red, red, red, white);
    color: white;
    font-weight: bold;
}

.popup-frame {
    margin: auto;
    padding: 10px;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 400px;
    height: 280px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    color: grey;
    text-align: center;
    z-index: 1002;
}

.popup-frame-bottom-text {
    position: absolute;
    padding: 0px;
    bottom: 5px;
    width: 400px;
    text-align: center;
}

.close-button:after {
    position: absolute;
    top: 2px;
    right: 3px;
    width: 15px;
    height: 15px;
    content: "\274c";
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 2px;
}


input[type=text], input[type=email], input[type=password] {
    display: inline-block;
    padding: 12px 20px;
    margin: 8px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: inline-block;
    margin: 4px 2px;
	padding: 10px 12px;
    background-color: #4CAF50;
    border: 0px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
	font-weight: bold;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
button a {
	text-decoration: none;
	color: white;
}
button:hover {
    background-color: #3E8E41;
}



/* ********** FADE ANIMATION ********** */
.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

/* ********** HEADER BAR ********** */
header,
.header-gap, 
.frame {
	margin: 0px auto;
	padding: 0px 10px;
	width: 1100px;
	height: 80px;
	background-color: rgba(255, 255, 255, 0.9);
}
header {
	padding: 0px;
	width: 100%;
	overflow: hidden;
    position: fixed;
    top: 0;
	left: 0;
	background-color: white;
	border-bottom: 1px solid grey;
	z-index: 1;
	-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.smaller {
	height: 40px;
	-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
/* ********** HEADER LOGO & TITLE ********** */
.logo {
	float: left;
	margin-left: 5px;
	padding-left: 80px;
	width: 200px;
	height: 80px;
	background-image: url("assets/site_template/site_logo.png");
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 70px 70px;
	color: #A6CE3A;
	font-weight: bold;
	font-size: 2em;
	line-height: 80px;
	-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.smaller .logo{
	margin: 5px 10px;
	padding-left: 40px;
	background-size: 30px 30px;
	height: 30px;
	line-height: 30px;
	font-size: 1.2em;
}
/* ********** NAVIGATION BAR & OPTIONS ********** */
.navigation {
	float: right;
	width: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 40px;
	text-align: right;
	line-height: 40px;
	-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.smaller .navigation {
	margin-top: 0px;
	margin-bottom: 0px;
}
.menu-options {
    float: left;
}
.menu-options ul {
    list-style: none;
    padding: 0;
    margin: 0;
	text-align: left;
}
.menu-options li {
	float: left;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
}
.menu-options li a, 
.menu-options li a:link, 
.menu-options li a:visited, 
.menu-options li a:active {
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}	
.menu-options li a:hover {
	color: #A6CE3A;
	cursor: pointer;
}
/* ********** NAVIGATION BAR USER IMAGE & MENU ********** */
.user-pic img {
	width: 40px;
	height: 40px;
    border-radius: 50%;
}
.smaller .user-pic img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.user-pic {
	margin: 0px 10px 0px 10px;
	width: 40px;
	height: 40px;
    position: relative;
	display: inline-block;
}
.user-pic:hover .dropdown {
	display: block;
	transition: animation-duration 2s;
}
.smaller .user-pic {
	margin: 5px 10px 5px 10px;
	width: 30px;
	height: 30px;
}
.dropdown {
	display: none;
    position: fixed;
	top: 70px;
	right: 10px;
    background-color: #E9E9E9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    z-index: 2;
	line-height: 15px;
	-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
	transition: all 0.4s;
}

.smaller .dropdown {
	top: 42px;
	right: 10px;
}
.dropdown-user-pic-frame {
	float: right;
	margin-top: -50px;
	width: 55px;
	height: 50px;
}
.smaller .dropdown-user-pic-frame {
	margin-top: -37px;
	width: 45px;
	height: 37px;
}
.dropdown-arrow {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 8px solid #E9E9E9;
	float: right;
	margin-top: -8px;
	margin-right: 10px;	
}
.smaller .dropdown-arrow {
	margin-top: -5px;
	margin-right: 5px;	
}
.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
	text-align: left;
}
.dropdown li {
	padding: 5px 10px;
	line-height: 20px;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.dropdown li a, 
.dropdown li a:link, 
.dropdown li a:visited, 
.dropdown li a:active {
	-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.dropdown li:hover {
	background-color: #A6CE3A;
	cursor: pointer;
}

.center-icon {
	width: 20px;
    text-align: left;
}
/* ********** MAIN CONTENT FRAME ********** */
.frame {
	padding: 10px;
	height: auto;
}
/* ********** FOOTER ********** */
footer {
	z-index: 1;
	text-align: left;
	color: grey;
}
.footer-grid {
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: 33% auto 33%;
}
.footer-grid-title {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 5px 10px 5px 10px;
	font-weight: bold;
}
.footer-grid-items {
	padding: 10px 10px 0px 10px;
}
footer i {
	padding: 0px 10px;
}
footer a:active, 
footer a:visited, 
footer a:link, 
footer a:hover {
    font-weight: normal;
}