<div class="popup-reg">
  <a routerLink="/"><div class="close"></div></a>
  <h1>Registrate to SzakiCool</h1>
  <input type="text" (keyup)="testName()" [(ngModel)]="username" placeholder="Username" required><br>
  <input type="email" [(ngModel)]="email" placeholder="Email" required><br>
  <input type="password" (keyup)="checkPassword()" [(ngModel)]="password" placeholder="Password" required><br>
  <input type="password" (keyup)="checkPassword()" [(ngModel)]="confirmPassword" placeholder="Re-enter password" required><br>
  <button (click)="register()">Registrate</button><br>

  <span *ngIf="errorMessage" >{{errorMessage}}</span>

  <div class="already-member">
    <hr>
    Are you already a member? <a href="/login">Login now!</a>
  </div>
</div>

<div class="dark-filter"></div>